:root {
    --primary-color: #F31D12;
    --secondary-color: rgb(13, 0, 255);
    --text-color: #000000;
    --hover-color-nav: red;
    --font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin-top: 35px;
    
}
body {
    font-family: var(--font-family);
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-social {
    display: flex;
    justify-content: flex-end;
    background-color: var(--primary-color);
    
    
}

.header-social img {
    transition: transform 0.3s ease;
}

.header-social img:hover {
    transform: scale(1.2);
}

.header-social-links {
    display: flex;
    gap: 20px;
    padding: 4px 30px;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo span {
    font-size: 2rem;
    font-weight: bolder;
}

.logo a {
    text-decoration: none;
    color: black;
}

.nav-buttons {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav-buttons li {
    flex: 1 1 100%;
}

.nav-buttons a {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
    color: var(--secondary-color);
    position: relative;
    transition: color 0.3s ease;
}

.nav-buttons a:hover,.nav-buttons a.active {
    color: var(--hover-color-nav);
}

.nav-buttons a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--hover-color);
    transition: width 0.3s ease;
}

.nav-buttons a:hover::after {
    width: 100%;
}

footer {
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    text-align: center;
    flex-wrap: wrap;
}

footer div {
    flex: 1;
    min-width: 200px;
}

footer p {
    margin: 5px 0;
}

footer a {
    display: inline-block;
    margin: 0 10px;
}

footer img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.2);
}

main {
    text-align: center;
}

.bussiness-list {
    margin: 0 10%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bussiness-list.list-view {
    display: table;

    border-collapse: collapse;
}

.bussiness-list.list-view img {
    display: none;
}

.business-card {
    margin: 30px 10px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease;
}

.business-card:hover {
    transform: scale(1.02);
}

.business-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.business-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: var(--text-color);
}

.business-card p {
    font-size: 1em;
    color: #040404;
}

#toggle-view-btn {
    padding: 10px 15px;
    background-color: #2200ff;
    color: white;
    border: none;
    font-size: 1em;
    margin: 20px;
    cursor: pointer;
}

#toggle-view-btn:hover {
    background-color: #0056b3;
}

#toggle-view-btn:focus {
    outline: none;
}