
form {
    width: 50%;
    
    padding: 25px;
    border: 1px solid #ccc;
    
    background-color: #f5f5f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: left;
  }
  #joinh1{
    margin-bottom: 20px;
  }
  h2{
    padding-bottom: 4%;
  }
  
  label {
    display: flex;
    flex-direction: column;
    
    
    font-weight: bold;
    color: black;
  }
  
  input, select, textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box; 
    margin-top: 8px;
    resize: none;
  }
  
  input:focus, select:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
  }
  
 
  input::placeholder, textarea::placeholder {
    color: #aaa;
    font-size: 12px;
  }
  
  
  input[type="submit"] {
    font-weight: bold;
    background-color: #0017ff;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover,#joinbutton:focus {
    background-color: #f9dc3b;
    color: black;
  }
/* MODAL*/
  @keyframes aparecerModal {
    0% {
        transform: translate(-50%, 100%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

#details{
    width: 25%;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 0 3rem #777;
    border: 1px solid red;
    animation: aparecerModal 0.5s forwards;
}
::backdrop{
    background-color: rgba(0, 0, 0, 0.618);
}
dialog button{
    position: absolute;
    top:23px;
    right: 23px;
    padding: .4rem 1rem;
    border: 1px solid red;
}

#modalDescription li{
  list-style-type: none;
}

#details {
    width: 50%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: transform 0.5s ease-in-out;
    
}


#details div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}


#modalTiltle {
    font-size: 24px;
    margin: 0;
}


#details button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

#details button:hover {
    color: rgb(255, 0, 0);
}

#details h3, #details p {
    margin: 10px 0;
}

#details[open] {
    transform: translate(-50%, -50%);
    
}
.form-section{
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-bottom: 5%;
}
 /* CARDS*/
 .card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}


.card-container div {
  width: 250px;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 0.8s ease-out forwards;
}


#gold-card {
  background-color: #FFD700; 
  animation-delay: 0.2s;
}

#silverl-card {
  background-color: #C0C0C0; 
  animation-delay: 0.4s;
}

#bronze-card {
  background-color: #CD7F32; 
  animation-delay: 0.6s;
}
#nonprofit-card{
  background-color: #777;
  animation-delay: 0.8s;
}

.card-container div h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.details-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.details-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

 
  @media (max-width: 768px) {
    form {
      padding: 15px;
      width: 93%;

    }
    .card-container div{
      width: 100%;
    }
    label {
      font-size: 13px;
    }
  
    input, select, textarea {
      font-size: 13px;
    }
  
    input[type="submit"] {
      font-size: 14px;
      padding: 8px;
    }
    .form-section{
      flex-direction: column;
      align-items: center;

    }
    #details{
      width: 90%;
    }
  }
  
 
  @media (max-width: 480px) {
    form {
      padding: 10px;
    }
  
    input, select, textarea {
      font-size: 12px;
      padding: 8px;
    }
  
    input[type="submit"] {
      font-size: 12px;
      padding: 8px;
    }
  }
  