@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .hm::before {
        display: block;
        content: '\2630';
        text-align: end;
        font-weight: bold;
        font-size: 2em;
        padding: 0 4%;
        align-content: center;
        z-index: 10000;


    }
    .hm {
        width: 100%;
        
      
    }
    
    
    .hm.show::before {
        content: "X";
        background-color: white;
        color: #000000;
        font-size: 2.2em;  

    }
   
    .nav-buttons {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transform: translateY(0px);
        transition: opacity 0.3s ease-in, max-height 0.3s ease-in-out;
    }



    .nav-buttons.show {
        opacity: 1;
        max-height: 300px;
        padding: 0;
        transform: translateY(0); 
        overflow: hidden;


    }

    .nav-buttons {
        width: 100%;
        flex-wrap: wrap;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .business-card {
        padding: 10px;
    }
}

